@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

/* Style reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p,
ul,
ol,
body {
    margin: 0;
}

:root {
    /* Primary Colors */
    --color-primary-50: hsl(260, 100%, 95%);
    --color-primary-300: hsl(264, 82%, 80%);
    --color-primary-500: hsl(263, 55%, 52%);

    /* Neutral Colors */
    --color-neutral-black: hsl(0, 0%, 7%);
    --color-neutral-dark-blue: hsl(219, 29%, 14%);
    --color-neutral-white: hsl(0, 0%, 100%);
    --color-neutral-grey-100: hsl(214, 17%, 92%);
    --color-neutral-grey-200: hsl(0, 0%, 81%);
    --color-neutral-grey-400: hsl(224, 10%, 45%);
    --color-neutral-grey-500: hsl(217, 19%, 35%);

    /* Typography */
    --font-family-body: 'Barlow Semi Condensed', sans-serif;
    --font-size-body: 13px;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;

    /* Spacing Variables */
    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-400: 32px;
    --spacing-500: 40px;
}

html {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    padding: var(--spacing-400);
    background-color: #F6F5F6;
}

body {
    display: grid;
    place-content: center;
}

img {
    border-radius: 50%;
}

.avatar-border {
    border: 2px solid var(--color-primary-300);
}

.text-preset-1 {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-semibold);
    font-size: 1.5rem;
    line-height: 1.2;
    letter-spacing: 0px;
}

.text-preset-2 {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-medium);
    font-size: 1rem;
    line-height: 1.1;
    letter-spacing: 0px;
}

.text-preset-3 {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-medium);
    font-size: 1rem;
    line-height: 1.4;
    letter-spacing: 0px;
}

.text-preset-4 {
    font-family: var(--font-family-body);
    font-weight: var(--font-weight-medium);
    font-size: 0.85rem;
    line-height: 1.1;
    letter-spacing: 0px;
}

.testimonials {
    display: grid;
    gap: var(--spacing-400);
    max-width: 1114px;
}

.testimonial-card {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-200);
    background-color: lime;
    padding: var(--spacing-400);
    border-radius: var(--spacing-100);
    box-shadow: 40px 60px 50px -47px #48556A3D;
}

.user-info {
    display: flex;
    gap: var(--spacing-200);
    align-items: center;
}

.user-name {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-50);
}

.white-wide {
    background-color: var(--color-neutral-white);

    .text-preset-1,
    .text-preset-2 {
        color: var(--color-neutral-grey-500);
    }

    .text-preset-3,
    .text-preset-4 {
        color: var(--color-neutral-grey-400);
    }
}

.white-narrow {
    background-color: var(--color-neutral-white);

    .text-preset-1,
    .text-preset-2 {
        color: var(--color-neutral-grey-500);
    }

    .text-preset-3,
    .text-preset-4 {
        color: var(--color-neutral-grey-400);
    }
}

.grey-narrow {
    background-color: var(--color-neutral-grey-500);

    .text-preset-1,
    .text-preset-2 {
        color: var(--color-neutral-white);
    }

    .text-preset-3,
    .text-preset-4 {
        color: var(--color-neutral-grey-100);
    }
}

.purple-wide {
    background-color: var(--color-primary-500);

    .text-preset-1,
    .text-preset-2 {
        color: var(--color-neutral-white);
    }

    .text-preset-3,
    .text-preset-4 {
        color: var(--color-primary-50);
    }
}

.dark-blue-wide {
    background-color: var(--color-neutral-dark-blue);

    .text-preset-2,
    .text-preset-4 {
        color: var(--color-neutral-white);
    }

    .text-preset-1 {
        color: var(--color-neutral-grey-200)
    }

    .text-preset-3 {
        color: var(--color-neutral-grey-100);
    }
}

@media screen and (min-width: 550px) {
    .testimonials {
        grid-template-columns: 1fr 1fr;
    }

    .purple-wide,
    .dark-blue-wide,
    .white-wide {
        grid-column: 1 / 3;
    }
}

@media screen and (min-width: 1024px) {
    .testimonials {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr;
    }

    .dark-blue-wide {
        grid-column: 2 / 4;
    }

    .white-wide {
        grid-column: 4 / 5;
        grid-row: 1 / 3;
    }
}
